<div class="div">
    <mat-card>
        <mat-card-header>
            <mat-card-title>
                <h1>Oocyte Mask Selector</h1>
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <h2>
                This application is designed to excract the three essential masks from an oocyte through a series of images.
            </h2>
            <p>
                Press the button below to get started.
            </p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button color="primary" [routerLink]="['/MainApp', 'Segmentation']">Get Started</button>
        </mat-card-actions>
    </mat-card>
    <mat-card>
        <mat-card-header>
            <mat-card-title>
                <h1>Oocyte Assessment</h1>
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <h2>
                This application is designed to collect data on the expected oocyte quality based on a series of images.
            </h2>
            <p>
                Press the button below to get started.
            </p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button color="primary" class="WORKINPRGRESS" disabled [routerLink]="['/MainApp', 'Assessment']">Work In Progress</button>
        </mat-card-actions>
    </mat-card>
</div>