video{
    max-width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    pointer-events: none;
}

svg{
  max-width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  pointer-events: none;
}

canvas{
  max-width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
}

#newImg{
  z-index: 1;
}

#whiteCanva{
  z-index: 3;
  pointer-events: none;
}

#videoCanva{
  z-index: 4;
  pointer-events: none;
}

#skipCanva{
  z-index: 5;
  pointer-events: none;
}

button{
  margin: 10px;
}

.video-container{
  width: 35vw;
  max-width: 70vw;
  min-width: 30vw;
  position: relative;
  margin: 20px;
}

.container{
  display: flex;
  /* flex-wrap: wrap; */
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}

.controls-container{
  flex: 1;
}

#progBar-container{
  position: absolute;
  bottom: 0;
  width: 100%;
}

.slider-container, .button-container{
  margin: 5px;
  flex-wrap: wrap;
}

.switch{
  display: flex;
  align-items: center;
  justify-content: left;
  height: 50px;
  margin-top: 20px;
}

mat-slider{
  width: 30vw;
  margin: 10px;
}

p{
  margin: 10px;
}

.skip-button:not([disabled]) {
  background-color: #f2c900 !important;
  color: #fff !important;
}

mat-card{
  width: fit-content;
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 5px #ccc;
}