<div class="container">
    <div class="video-container">
      <video #videoElement (seeked)="onVideoLoaded()" (wheel)="onMouseWheelScroll($event)" (mousedown)="mouseDown($event)" (mouseup)="mouseUp($event)" (mousemove)="mouseMove($event)" (window:resize)="onWindowResize($event)" src="http://commondatastorage.googleapis.com/gtv-videos-bucket/sample/ElephantsDream.mp4#t=51"></video>
      <svg [attr.height]="video_height" [attr.width]="video_width" >
        <circle [attr.cx]="center_x" [attr.cy]="center_y" [attr.r]="radius" stroke="gray" stroke-width="5" fill-opacity="0%"></circle>
      </svg>
      <canvas #videoCanva [height]="video_height" [width]="video_width" ></canvas>
    </div>
    <div class="controls-container">
      <div class="button-container">
        <button (click)="previousFrame()">Previous Frame</button>
        <button (click)="nextFrame()">Next Frame</button>
        <button (click)="skipFrame()">Skip Frame</button>
        <!-- <input (click)="zoom()" type="checkbox" > -->
        <label class="switch">
          <div class="text">Zoom</div>
          <input (click)="zoom()" [(ngModel)]="isZooming" type="checkbox">
          <span class="checkbox"></span>
        </label>
      </div>
      <div class="slider-container">
        <div class="slider">
          <p>Radius:</p>
          <input type="range" min="1" [max]="video_height" [(ngModel)]="radius">
        </div>
        <div class="slider">
          <p>X:</p>
          <input type="range" min="1" [max]="video_width" [(ngModel)]="center_x">
        </div>
        <div class="slider">
          <p>Y:</p>
          <input type="range" min="1" [max]="video_height" [(ngModel)]="center_y">
        </div>
      </div>
    </div>
  </div>
  