video{
    max-width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
svg{
  max-width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 4;
  pointer-events: none;
}

#whiteCanva{
  z-index: 4 !important;
}

canvas{
  max-width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  pointer-events: none;
}

button{
  margin: 10px;
}

.video-container{
  width: 35vw;
  max-width: 70vw;
  min-width: 30vw;
  position: relative;
  margin: 20px;
}

.container{
  display: flex;
  /* flex-wrap: wrap; */
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}

.controls-container{
  flex: 1;
}

#progBar-container{
  position: absolute;
  bottom: 0;
  width: 100%;
}

.slider-container, .button-container{
  margin: 5px;
  flex-wrap: wrap;
}

.switch{
  display: flex;
  align-items: center;
  justify-content: left;
  height: 50px;
  margin-top: 20px;
}

mat-slider{
  width: 30vw;
  margin: 10px;
}

p{
  margin: 10px;
}

/* @media screen and (max-width: 768px) {
  .container{
    flex-direction: column;
  }
  .video-container{
    width: 100%;  
    max-width: 100%;
  }
  .button-container{
    width: 100%;
    max-width: 100%;  ;
  }
  .container{
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
  }
}
   */









/* .container {
    display: flex;
    flex-direction: row;
    height: 90vh;
  }
  
  .video-container {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  
  video {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  svg {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .controls-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    align-items: center;
  }
  
  .button-container {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
  }
  
  button {
    margin: 10px;
  }
  
  .slider-container {
    display: flex;
    flex-direction: column;
  }
  
  .slider {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
    width: 100%;
  }
  
  p {
    margin-bottom: 5px;
  }

  input{
    width: 80vh;
  } */