<div class="container">

  <!---------------------------------Segmentation Video player------------------------------------>
  <div class="video-container" *ngIf="isVideoActive && task">
    <canvas #newImg id="newImg"
      (wheel)="onMouseWheelScroll($event)" 
      (mousedown)="mouseDown($event)" 
      (window:mouseup)="mouseUp($event)" 
      (window:mousemove)="mouseMove($event)" 
      (window:resize)="onWindowResize($event)">
    </canvas>
    <svg #svgElement [attr.height]="video_height" [attr.width]="video_width">
      <circle *ngIf="!toggleFrameSkipped" [attr.cx]="red_x" [attr.cy]="red_y" [attr.r]="red_r" [attr.stroke]="selectorColors[0]" [attr.stroke-opacity]="strokeOpacity[0]" stroke-width="3" [attr.fill]="selectorColors[0]" [attr.fill-opacity]="circleOpacity[0]"></circle>
      <circle *ngIf="!toggleFrameSkipped" [attr.cx]="green_x" [attr.cy]="green_y" [attr.r]="green_r" [attr.stroke]="selectorColors[1]" [attr.stroke-opacity]="strokeOpacity[1]" stroke-width="3" [attr.fill]="selectorColors[1]" [attr.fill-opacity]="circleOpacity[1]"></circle>
      <circle *ngIf="!toggleFrameSkipped" [attr.cx]="blue_x" [attr.cy]="blue_y" [attr.r]="blue_r" [attr.stroke]="selectorColors[2]" [attr.stroke-opacity]="strokeOpacity[2]" stroke-width="3" [attr.fill]="selectorColors[2]" [attr.fill-opacity]="circleOpacity[2]"></circle>
      <rect *ngIf="isDraggingRect" [attr.x]="rect_x" [attr.y]="rect_y" [attr.width]="rect_w" [attr.height]="rect_h" stroke="gray" stroke-width="2" fill-opacity="0%"></rect>
    </svg>
    <canvas #whiteCanva id="whiteCanva" [height]="video_height" [width]="video_width"></canvas>
    <canvas #videoCanva id="videoCanva" [height]="video_height" [width]="video_width" ></canvas>
    <div id="progBar-container">
      <mat-progress-bar mode="buffer" [value]="currentProgress" [bufferValue]="totalProgress"></mat-progress-bar>
    </div>
    <img #gifElement [hidden]="true" (load)="onImageLoaded($event)" src="http://localhost/G-10.0-CTCQWJYC.gif" 
    rel:animated_src="http://localhost/G-10.0-CTCQWJYC.gif">
  </div>
  <!---------------------------------End of Segmentation------------------------------------>


  <!---------------------------------Assessment Video player------------------------------------>
  <div *ngIf="!task">
    <button (click)="prev(_mode.frame_by_frame)" style="z-index: 1" [disabled]="isVideoLoading">Previous</button>
    <button  (click)="next(_mode.frame_by_frame)" style="z-index: 1"[disabled]="isVideoLoading">Next</button>
    <mat-slider min=50 max = 120>
        <input matSliderThumb [(ngModel)]="delay_multiplier">
    </mat-slider>
    <div class="video-container">
      <canvas #newImg id="newImg"></canvas>
    </div>
    <img #gifElement [hidden]="true" *ngIf="!task" src="http://localhost/G-10.0-CTCQWJYC.gif" 
      rel:animated_src="http://localhost/G-10.0-CTCQWJYC.gif" (load)="onImageLoaded($event)" [attr.clientWidth]="wwidth">
  </div>
  <!---------------------------------End of Assessment------------------------------------>

  <!---------------------------------Controls------------------------------------>
  <div class="controls-container" *ngIf="isVideoActive && task">
    <div class="button-container">
      <button mat-raised-button matTooltip="Save selection and proceed" color="primary" [disabled]="isVideoLoading || toggleFrameSkipped"
        (click)="nextFrame()">Next Frame</button>
        <button mat-raised-button matTooltip="Go back" class="skip-button" [disabled]="isVideoLoading" 
          (click)="prevFrame()">Previous Frame</button>
      <button mat-raised-button matTooltip="Skip frame if blurred" color="warn" [disabled]="isVideoLoading" 
        (click)="skipFrame()">Skip Frame</button>
      <mat-slide-toggle *ngIf="isFrameSkipped" color="warn" [(ngModel)]="toggleFrameSkipped">Toggle Frame Skip</mat-slide-toggle>
      <h3>Selected: {{selectors.value}}</h3>
      <mat-button-toggle-group name="selection" [value]="currentSelector" (change)="onSelectorChange(selectors.value)" #selectors="matButtonToggleGroup" aria-label="Selection">
        <mat-button-toggle [value]="selectorNames[0]">{{selectorNames[0]}}</mat-button-toggle>
        <mat-button-toggle [value]="selectorNames[1]">{{selectorNames[1]}}</mat-button-toggle>
        <mat-button-toggle [value]="selectorNames[2]">{{selectorNames[2]}}</mat-button-toggle>
      </mat-button-toggle-group>
      <div class="switch">
        <p *ngIf="!isZoomed">Zoom:</p>
        <button *ngIf="!isZoomed" mat-icon-button color="primary" aria-label="Restore View" (click)="zoom()" [(ngModel)]="isZooming"><mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="picture_in_picture"></mat-icon></button>
        <p *ngIf="isZoomed">Restore View:</p>
        <button *ngIf="isZoomed" mat-icon-button color="primary" aria-label="Restore View" (click)="restoreView()"><mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon></button>
      </div>
    </div>
    <div class="slider-container">
      <div class="slider">
        <p>Radius:</p>
        <mat-slider min="1" [max]="video_height/2" >
          <input matSliderThumb (ngModelChange)="onSliderRadiusChange()" [(ngModel)]="radius">
        </mat-slider>
      </div>
      <div class="slider">
        <p>X:</p>
        <mat-slider min="1" [max]="video_width" >
          <input matSliderThumb (ngModelChange)="onSliderXChange()" [(ngModel)]="center_x">
        </mat-slider>
      </div>
      <div class="slider">
        <p>Y:</p>
        <mat-slider min="1" [max]="video_height" >
          <input matSliderThumb (ngModelChange)="onSliderYChange()" [(ngModel)]="center_y">
        </mat-slider>
      </div>
    </div>
  </div>

  <!---------------------------------Continue or quit controls------------------------------------>
  <div class="button-container" *ngIf="!isVideoActive">
    <button mat-raised-button color="primary" (click)="navigateTo('MainApp')">Try another Video!</button>
    <button mat-raised-button color="warn" (click)="navigateTo('Login')">Exit</button>
  </div>
  <!---------------------------------End of Continue or quit controlls------------------------------------>
  
</div>
